*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  padding: 20px 20%;
  background-image: url(../img/natural-pattern.png);
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
  margin-bottom: 10px;
}

.header-top{
  text-align: center;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  border: 10px solid white;
  padding: 50px 5px;
}

.header-top img{
  width: 50%;
}

.header-top h2{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

/* MENU HEADER */

.header-menu{
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background-color: #666;
  text-align: center;
}

.header-menu ul{
  display: inline-block;
  list-style: none;
}

.header-menu ul li{
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.header-menu ul li a{
  color: white;
}

a{
  text-decoration: none;
}

.header-menu ul li:hover{
  cursor: pointer;
  background-color: lightgrey;
}


/* MAIN SECTION */

main::after{
  content: '';
  display: table;
  clear: both;
}

.col{
  float: left;
}

.col-left{
  padding: 5px;
  width: 20%;
  background: white;
}

.parte-alta h2{
  font-weight: 400;
  color: grey;
  padding-left: 5px;
  display: inline-block;
}

.simbolo{
  padding: 3px;
  vertical-align: top;
  display: inline-block;
  color: orange;
}

.col-left ul{
  padding: 5px;
list-style: none;
}

.col-left a{
  color: green;
}


section{
  width: 50%;
  margin: 0 5%;
  background: white;
}
.main{
  padding: 15px;
}

.main h2,
.widget h2{
  margin-bottom: 30px;
  text-transform: uppercase;
  color: grey;
  font-weight: 400;
}

.main p,
.widget p{
  font-weight: 400;
  line-height: 25px;
}


.col-right{
  width: 20%;
}

.widget{
  padding: 15px;
  background: white;
  margin-bottom: 15px;
}

#h2-widget{
  text-transform: none;
}


/* FOOTER */

footer{
  height: 150px;
  margin-top: 10px;
  background: white;
}
